body {
    background-color: tomato;
    text-align:center;
}

h1{
    color:navajowhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    color:whitesmoke;
    font-family: sans-serif;
    font-weight: 700;
}

#pomo_length{
    font-family: sans-serif;
    border: none;
    border-radius: 5px;
    width:60%;
    min-width: 300px;
    max-width: 700px;
}

button{
    font-family: sans-serif;
    border: none;
    border-radius: 5px;
}

button:hover{
    color:white;
    background-color:lightpink;
}
